 <li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newEat="{{eaten}}">
		{{#if eaten}}Order{{else}}Back to the Menu{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>