 <li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{#if devoured}}false{{else}}true{{/if}}">
		{{#if devoured}}Devour{{else}}Order{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>