<li>
	<div class="row">
		<div class="col-8">
			{{burger_name}}
		</div>

		<span class="right col-sm-2"><button class="change-devoured" data-id="{{id}}"
				data-newDevoured="{{#if devoured}}false{{else}}true{{/if}}">
				{{#if devoured}}Devour{{else}}Order{{/if}}
			</button></span>

		<span class="right col-sm-2"><button class="delete-burger right" data-id="{{id}}">DELETE!</button></span>
	</div>
</li>